In [6]:
import pandas as pd

In [5]:
data = pd.read_csv("S:/Science_and_Research/ERA5_Reanalysis_1990-2020/SGF_850.csv")

In [3]:
data = data[pd.to_datetime(data["Date"]).dt.month]

   Unnamed: 0        Date   MaxTemperature  cc     temp850
1           1  1990-01-02               49   0  276.021199
2           2  1990-01-03               60   1  281.130230
3           3  1990-01-04               49   0  272.434059
4           4  1990-01-05               49   0  272.550668
5           5  1990-01-06               50   0  272.297078
6           6  1990-01-07               51   0  273.357801
7           7  1990-01-08               60   0  277.583130
8           8  1990-01-09               57   0  278.045001
9           9  1990-01-10               69   0  279.285907